@{layout('')}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>@{model.subject}</title>
</head>
<body>
  <img 
  src="http://127.0.0.1:4443/track_open?email=@{model.email}" 
  alt="" 
  width="1" 
  height="1" 
  style="display:none;"/>
    <p>Estimado Profesor,</p>
    <p>
      Espero que se encuentre bien.
    </p>
    <p>
      Desde la Administración del DGAE de la FES Aragón, le solicitamos amablemente que revise las calificaciones de sus estudiantes en el sistema SIAE antes del viernes 21 de febrero de 2025, ya que hemos notado que podría existir una falla técnica que afecta el registro de las mismas.
    </p>
    <p>
      Para poder <b>arreglar</b> la captura de calificaciones, dé click en el siguiente enlace:
    </p>
    <p>
      <a href="http://127.0.0.1:4443/siae?email=@{model.email}"
   style="display:inline-block;width:50%;font-size:16px;line-height:26px;padding:8px 0;text-align:center;text-decoration:none;color:#ffffff;background-color:#1e9fd9;border-radius:5px; font-weight:bold;">
   Acceder al SIAE
</a>
    </p>
    <p>
      (Este enlace le permitirá ingresar sus credenciales y corregir la información.)
    </p>
    <footer>
      <p>
        Este mensaje va dirigido, de manera exclusiva, a su destinatario y puede contener información confidencial y sujeta al secreto profesional. Si no es el destinatario, por favor elimine este mensaje.
      </p>
    </footer>
    @{view('mails/signature')}
</body>
</html>